*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // scroll-behavior: smooth;
}
$main-color: #339999;
.owl-prev{
 display: none;
}
.owl-theme .owl-dots .owl-dot {

    outline: none;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    outline: none;
}

.head{
    p{
        color: $main-color;
        font-size: 16px;
        font-weight: 600;
    }
    h1{
        font-size: 34px;
        color: #000;
    }
}
.first{
    background-image: url('../images/main/bg_1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh;
    position: relative;

    .nav1{
        padding-top: 10px;
        align-items: center;
        .logo{
            color: #fff;
            cursor: pointer;
            h2{
                font-size: 31px;
                margin: 0;
                letter-spacing: 1px;               
            }
            p{
                font-size: 16px;
            }

        }
        .right{
            align-items: center;
           .clock{
               cursor: pointer;
               margin: 0 40px;
               color: #fff;
               align-items: center;
               i{
                   font-size: 50px;
                   padding-right: 7px;
               }
               .content{
                   span{
                       font-weight: 700;
                   }
               }
           }

           .icons{
              .icon{
              
                  margin: 0px 10px;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;

                  background-color: rgba(121, 182, 182, 0.7);
                //   opacity: 0.5;
                  position: relative;
                  cursor: pointer;
                  transition: 0.3s all ease-in-out;
                  i{   
                      color: $main-color;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      font-size: 17px;
                  }
                  &:hover{
                      transform: rotateY(180deg);
                      color: #fff;
                  }
              }
           }
        }
    }

    .nav2{
        background: rgba(168, 216, 216, 0.7);
        // margin-top: 10px;
        // align-items: center;
        display: flex;
        align-items: center;

    
        ul{
           display: flex;
           padding-top: 16px;
           li{
               list-style: none;
               margin-right: 20px;
               a{
                   text-decoration: none;
                   color: #fff;
                   font-size: 16px;
                   font-weight: 600;
                   &.active{
                       color: $main-color;
                   }
                   &:hover{
                    color: $main-color;
                   }
               }
           }
        }
        .green{
            clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
            background-color: $main-color;
            transition: 0.3s all ease-in-out;
            a{
                padding: 14px 0;
                color: #fff;
                text-decoration: none;
                padding-right: 20px;
                transition: 0.3s all ease-in-out;
                font-weight: 700;
                &:hover{
                    color: $main-color;
                }
            }
            &:hover{
                background-color: #fff;
                color: $main-color;
            }
            

        }
    }

    .cont{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        h4{
            font-size: 18px;
        }
        h1{
            font-size: 40px;
            padding-bottom: 10px;
        }
        p{
            font-size: 15px;
        }
        .buttons{
            display: flex;
            .btn1{
                background-color: $main-color;
                padding: 10px 20px;
                border-radius: 6px;
                margin-right: 2px;
                transition: 0.3s all ease-in-out;
      
                a{
                    text-decoration: none;
                    color: #fff;
                    padding-right: 4px;
                    font-size: 15px;
                }
    
            }
            .btn2{
                background-color: #fff;
                padding: 10px 20px;
                border-radius: 6px;
                margin-right: 5px;
                a{
                    text-decoration: none;
                    color: $main-color;
                    padding-right: 4px;
                    font-size: 15px;
                }
                i{
                    color: $main-color;
                }

            }
        }
    }
}


.first1{
    background-image: url('../images/main/bg_2.png');
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
    .nav1{
        padding-top: 10px;
        align-items: center;
        .logo{
            color: #fff;
            cursor: pointer;
            h2{
                font-size: 31px;
                margin: 0;
                letter-spacing: 1px;               
            }
            p{
                font-size: 16px;
            }

        }
        .right{
            align-items: center;
           .clock{
               cursor: pointer;
               margin: 0 40px;
               color: #fff;
               align-items: center;
               i{
                   font-size: 50px;
                   padding-right: 7px;
               }
               .content{
                   span{
                       font-weight: 700;
                   }
               }
           }

           .icons{
              .icon{
              
                  margin: 0px 10px;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;

                  background-color: rgba(167, 167, 167, 0.4);
                //   opacity: 0.5;
                  position: relative;
                  cursor: pointer;
                  transition: 0.3s all ease-in-out;
                  i{   
                      color: $main-color;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      font-size: 17px;
                  }
                  &:hover{
                      transform: rotateY(180deg);
                      color: #fff;
                  }
              }
           }
        }
    }

    .nav2{
        background: rgba(184, 184, 184, 0.4);
        // margin-top: 10px;
        // align-items: center;
        display: flex;
        align-items: center;
    
        ul{
           display: flex;
           padding-top: 16px;
           li{
               list-style: none;
               margin-right: 20px;
               a{
                   text-decoration: none;
                   color: #fff;
                   font-size: 16px;
                   font-weight: 600;
                   &.active{
                       color: $main-color;
                   }
                   &:hover{
                    color: $main-color;
                   }
               }
           }
        }
        .green{
            clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
            background-color: $main-color;
            transition: 0.3s all ease-in-out;
            a{
                padding: 14px 0;
                color: #fff;
                text-decoration: none;
                padding-right: 20px;
                transition: 0.3s all ease-in-out;
                font-weight: 700;
                &:hover{
                    color: $main-color;
                }
            }
            &:hover{
                background-color: #fff;
                color: $main-color;
            }
            

        }
    }

    .conts{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        color: #fff;
        font-size: 18px;
        .cn{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{
                font-size: 60px;
                padding-bottom: 10px;
            }
            
            .links{
                display: flex;
                .link{
                    display: flex;
                    margin-right: 10px;
                    align-items: center;
                    i{
                        color: #fff;
    
                    }
                    a{
                        color: #fff;
                        font-size: 16px;
                        padding-right: 4px;
                        text-decoration: none;
                    }
                }
            }
        }
       
    }
}

.pictures{
    padding: 70px 0;
    background-color: #f1f1f1;
    .picture{
        transition: 0.3s all ease-in-out;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
        margin-bottom: 25px;
        
        img{
            width: 100%;
        }
        .names{
            padding: 10px 10px;
            text-align: center;
            h3{
                font-size: 21px;
                margin: 0;
            }
            p{
                font-size: 13px;
                color: #999;
            }
        }
        &:hover{
            transform: translateY(-5px);
        }
    }
}

.accordion{
    padding: 70px 0px 50px;
    background-color: #f1f1f1;
    .accordion-button:not(.collapsed) {
       color: #000;
        background-color: $main-color;
        font-weight: 700;
        
    }
    .accordion-button:focus {
        z-index: 3;
        border: 1px solid rgb(99, 99, 99);
        outline: 0;
        box-shadow: none;
        font-weight: 700;
        // background-color: $main-color;
    }
    .accordion-button.collapsed {
        font-weight: 700;
        background-color: #fff;
    }
    .accordion-body {
        color: rgb(88, 88, 88);
        background-color: #fff;
    }

}


.benefit{
    background-color: rgb(241, 241, 241);
    .img{
        img{
            width: 100%;
        }
    }
    .head{
        padding-top: 40px;
        padding-bottom: 15px;
    }
   .block{
       display: flex;
       background-color: #fff;
       margin-bottom: 5px;
       padding: 10px;
       border-radius: 6px;
       box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
       img{
           width: 50px;
           height: 50px;
           margin-top: 10px;
           margin-right: 15px;
       }
       .contents{
           h3{
               font-size: 19px;
           }
           p{
               font-size: 14px;
               color: #999999;
           }
       }

   }
}

.small{
    background-image: url('../images/main/bg_3.png');
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    background-color: #f1f1f1;
    color: #fff;
    position: relative;
    z-index: 1;
      .layer{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.4);
          z-index: 2;
      }
    .globe{
        display: flex;
        align-items: center;
        z-index: 1000;
        i{
            font-size: 40px;
            padding-right: 15px;
        }
        .number{
            padding-top: 6px;
            span{
                font-weight: 700;
                font-size: 21px;
              
            }
            p{
                font-weight: 300;
                margin-top: -3px;
               
            }
        }
    }
}

.explore{
    padding: 50px 0;
    background: #f1f1f1;
    .head{
        margin-bottom: 40px;
    }

    .cardss{
        .one{
           box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
           background-color: #fff;
           padding: 20px;
           margin-bottom: 20px;

           .top{
               display: flex;
               align-items: center;
              
              .image{
                  position: relative;
                  width: 60px;
                  height: 60px;
                  
                  border-radius: 50%;
                  background-color: $main-color;
                  margin-right: 22px;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                    height: 40px;
                }
              }
              h3{
                  font-size: 17px;
              }
  
           }

           .stars{
               margin-top: 15px;
               margin-bottom: 20px;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               .star{
                   margin-bottom: 3px;
                   i{
                       color: $main-color;
                       font-size: 18px;
                       margin-right: 3px;
                   }
                   span{
                       font-size: 18px;
                       color: $main-color;
                   }
               }
               .person{
                
                   img{
                       width: 30px;
                       height: 30px;
                       border-radius: 50%;
                       margin-right: 10px;
                   }
                   p{
                       color: #999999;
                    //    margin-top: 6px;
                   }
               }
               span{
                   color: $main-color;
                   font-size: 15px;
               };
           }

           .price{
               width: 100%;
              background-color: #f1f1f1;
              padding: 10px 0;
              margin-bottom: 15px;
              span{
                  color: $main-color;
                  font-weight: 600;
                  font-size: 15px;
              }
           }
           .enroll{
            width: 100%;
            border: 1px solid $main-color;
            padding: 10px 0;
            margin-bottom: 10px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            a{
                text-decoration: none;
                color: $main-color;
                font-weight: 600;
                font-size: 15px;

            }
            &:hover{
                background-color: $main-color;
                

            }
            &:hover a{
                color: #fff;
            }
           }
        }
    }
}

.browse{
    padding: 50px 0 70px;
    background-color: #f1f1f1;
    .head{
        padding-bottom: 30px;
    }
    .box{
        padding: 3px;
        .boxx{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #fff;
            padding: 20px 10px 30px 10px;
            transition: 0.3s all ease-in-out;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
            img{
                width: 65px;
            }
            h3{
                font-size: 22px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
            p{
                background-color: #f1f1f1;
                padding: 2px 10px;
                color: $main-color;
                font-weight: 600;
                transition: 0.3s all ease-in-out;
                border-radius: 4px;
            }
            &:hover{
                background-color: $main-color;

            }
            &:hover p{
                background-color: #fff;
                color: $main-color;
            }
        }

    }
}

.testimonal{
    padding: 60px 0 50px;
    background-color: #f1f1f1;
    .head{
        margin-bottom: 30px;
    }
    .two{
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
        transition: 0.3s all ease-in-out;
        p{
            font-size: 15px;
            color: #999999;
        }
        .top{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
           .images{
               position: relative;
               width: 70px;
               height: 70px;
               margin-right: 10px;
               img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
               }
               .quo{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: $main-color;
                position: absolute;
                bottom: 0%;
                right: 0%;
                transform: translate(0%, 0%);
                // transition: 0.3s all ease-in-out;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 14px;
                    color: #fff;
                }
                
            }
           }
           .name{
            transition: 0.3s all ease-in-out;
               h3{
                   font-size: 22px;
                //    transition: 0.3s all ease-in-out;
       
               }
               p{
                   margin: 0;
                   font-size: 15px;
                   font-weight: 600;
                   color: $main-color;
                //    transition: 0.3s all ease-in-out;
               }

           }
          
        }

        &:hover{
            background-color: $main-color;
            // transform: scale(1.1);

        }
        &:hover p{
            color: #fff;
        }
        &:hover .name p
        {
          color: #fff;
        }
        &:hover .name h3
        {
          color: #fff;
        }
        &:hover .top .images .quo{
            background-color: #fff;
           
        }
        &:hover .top .images .quo i{
            color: $main-color;
           
        }
    }
}

.blog{
    background-color: #f1f1f1;
    padding: 50px 0px;
    .head{
        padding-bottom: 40px;
    }
    .boxes{
        padding: 0px 10px;
        .cart{
            background-color: #fff;
        
            box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
            overflow: hidden;
            margin-bottom: 20px;
            img{
                width: 100%;
                transition: 0.3s all ease-in-out;

                &:hover{
                    transform: scale(1.07);
                }
            }
            .content{
                padding: 10px 20px;
                .top{
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;

                    .admin{
                        display: flex;
                        align-items: center;
                        margin-right: 25px;
                        i{
                            color: $main-color;
                            font-size: 14px;
                            margin-right: 5px;

                        }
                        p{
                            font-size: 12px;
                            margin-top: 14px;
                            font-weight: 600;
                        }
                        span{
                            color: $main-color;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
                h3{
                    font-size: 20px;
                    padding-bottom: 15px;
                }
                p{
                    color: #999;
                }
            }
        }

    }
}

.price{
    background-color: #f1f1f1;
    padding: 50px 0px;
    .head{
        padding-bottom: 40px;
    }
    .plans{
        padding: 0px 10px;
        .plan{
            padding: 20px 20px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
            h3{
                font-size: 20px;
                margin: 0;

            }
            .pr{
                margin-bottom: 20px;
                i{
                    font-size: 20px;
                    color: #999;
                   
                }
                span{
                    font-size: 45px;
                    color: $main-color;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }
            p{
                color: #999;
                padding-bottom: 15px;
            }
            .button{
               display: inline-block;
                border: 1px solid $main-color;
                padding: 5px 35px;
                box-shadow: 1px 1px 2px $main-color;
                transition: 0.3s all ease-in-out;
                border-radius: 4px;
                margin-bottom: 15px;
                a{
                    color: $main-color;
                    font-size: 15px;
                    text-decoration: none;
                    font-weight: 600;
                    transition: 0.3s all ease-in-out;
                }
                &:hover{
                    background-color: $main-color;
                    color: #fff;
                    box-shadow: none;
                }
                &:hover a{
                   
                    color: #fff;
                    
                }
            }
        }
    }
}

.maps{
    padding: 60px 0px;
    background-color: #f1f1f1;
    
    #map {
        height: 100%;  
        width: 100%;   
      }
      .forms{
          background-color: #fff;
          padding: 20px 20px 20px 30px;
          h3{
              font-size: 21px;
          }
          p{
              color: #999;
          }
          .address{
              display: flex;
              justify-content: space-between;
              padding-bottom: 10px;
              .add{
                  h4{
                      font-size: 17px;
                  }
                  p{
                      color: rgb(66, 66, 66);
                     font-size: 15px;
                  }
              }
          }
          .form{
              width: 100%;
              .input{
                  width: 100%;
                  margin-bottom: 8px;
                  display: flex;
                  input{
                    //   border: 1px solid #999;
                    border: none;
                    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
                      padding: 7px 10px;
                      outline: none;
                      width: 100%;
                  }
                  .name{
                      width: 50%;
                      margin-right: 5px;
                  }
                  textarea{
                      width: 100%;
                    //   border: 1px solid #999;
                    border: none;
                    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
                      padding: 7px 10px;
                      outline: none;
                      color: #999;
                      margin-top: 10px;
                  }
                  
              }
              .button{
                padding: 8px 15px;
                background-color: $main-color;
                display: inline-block;
                margin-top: 15px;
                cursor: pointer;
                transition: 0.3s;
                margin-bottom: 40px;
                a{
                    text-decoration: none;
                    color: #fff;
                   font-weight: 600;
                }
                &:hover{
                    background-color: #3aadad;
                    color: #fff;
                }
            }
          }
          .follow{
              margin-bottom: 30px;
              h4{
                  padding-bottom: 5px;
              }
              ul{
                  display: flex;
                  
                  li{
                      list-style: none;
                      margin-right: 14px;
                      a{
                          text-decoration: none;
                          color: $main-color;
                          font-weight: 600;
                      }
                  }
              }
          }
      }
}


.news{
    background-color: $main-color;
    padding: 30px 0px 30px;
    column-rule: #fff;
    display: flex;
    align-items: center;

    h3{
        color: #fff;
        font-size: 22px;
        margin: 0;
    }
    p{
        font-size: 14px;
        color: #fff;

    }
    .input{
        // border-bottom: 1px solid #7ae9e9;
        padding: 10px 4px -10px ;
        width: 50%;
        position: relative;
        padding: 10px 0;
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #60dbdb;
            bottom: 19px;
            left: 0;
        }
        input{
            border: none;
            outline: none;
            background-color: transparent;
            width: 90%;
            // height: 20px;
        &::placeholder{
            color: #fff;
            font-size: 17px;
        }

        }
        i{
            // background-color: #60dbdb;
            color: #fff;
            font-size: 18px;
        }
    }
}

.foot{
    padding: 30px 0px 40px;
    .academia{
        h1{
            color: #000;
            font-size: 30px;
            margin: 0;
            letter-spacing: 1px;
        }
        h3{
            color: $main-color;
            font-size: 18px;
            margin: 0;
            padding-bottom: 18px;
        }
        p{
            color: #999;
        }
        .icons{
            display: flex;
            .icon{
                position: relative;
                background-color: $main-color;
                color: #fff;
                width:30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 5px;
                transition: 0.3s all ease-in-out;
                &:hover{
                    transform: translateY(-4px);
                }
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
               
            }
        }
    }

    .smth{
       h3{
           font-size: 21px;
           padding-bottom: 29px;
       }
       ul{
           .linkss{
               margin: 0px 0px 10px 0px;
               i{
                   color: $main-color;
                   padding-right: 3px;
               }
               a{
                   text-decoration: none;
                   color: #999;
                   font-size: 15px;

               }
           }
       }

       .pict{
           display: flex;
        //    align-items: center;
           margin-bottom: 10px;
           img{
               width: 55px;
               height: 55px;
               margin-right: 10px;
           }
           .cont{
               p{
                   color: #999;
                   font-size: 14px;
               }
               .date{
                   display: flex;
                   .calen{
                       display: flex;
                       align-items: center;
                       margin-right: 7px;
                       justify-content: space-between;
                       i{
                           color: $main-color;
                           font-size: 13px;
                       }
                       span{
                           color: $main-color;
                           font-size: 13px;
                       }
                   }
               }

           }
       }

       .que{
           display: flex;
        //    align-items: center;
        i{
            color: $main-color;
            font-size: 19px;
            padding-right: 10px;
        }
        p{
            color: #999;
        }
       }
    }
}

.copy{
    padding: 40px 0;
    background-color: #f1f1f1;
    p{
        color: #999;
        font-size: 17px;
        i{
            color: rgb(102, 102, 102);

        }
        span{
            color: $main-color;
            
        }
    }
}




@media (min-width:990px) and (max-width:1100px){
    .first .nav1 .right .clock i {
        font-size: 40px;
        padding-right: 7px;
    }
    .clock .content{
        display: flex;
    
       
      span{
        display: none;
         }
    }
    .foot .smth .que p {
        font-size: 14px;
    }
    .foot .smth .que i {
        display: none;
    }
    .news .input input {
        padding-top: 28px;
    }
    .blog .boxes .cart .content .top .admin span {
        color: #339999;
        font-size: 11px;
        font-weight: 600;
    }
    .benefit .img img {
        width: 100%;
        height: 100%;
    }
    .maps{
        .add{
            margin-right: 7px;
        }
    }
}

@media (min-width:776px) and (max-width:989.9px){
    .first .nav1 .right .clock i {
        font-size: 35px;
        padding-right: 7px;
    }
    .first1 .nav1 .right .clock i {
        font-size: 35px;
        padding-right: 7px;
    }
    .clock .content{
        display: flex;
      span{
        display: none;
         }
      }
    .first .nav1 .right .icons .icon {
        margin: 0px 5px; 
    }
    .first1 .nav1 .right .icons .icon {
        margin: 0px 5px; 
    }
    .first .nav1 .right .icons .icon i {
        color: #43b1b1;
    }
    .first .nav1 .right .clock {
        margin: 0 20px 0 10px;
    }
    .first1 .nav1 .right .clock {
        margin: 0 20px 0 10px;
    }

    .first .nav2 .green a {
        padding-right: 0px;
        font-size: 14px;
    }
    .first1 .nav2 .green a {
        padding-right: 0px;
        font-size: 14px;
    }
    .first1 .conts .cn h1 {
        font-size: 50px;
        padding-bottom: 10px;
    }
    .first .cont h4 {
        font-size: 14px;
    }
    .first .cont .buttons .btn1 {
        display: flex;
        align-items: center;
    }
    .first .cont .buttons .btn2 { 
        display: flex;
        align-items: center;
    }
    .first .cont .buttons .btn1 a {
        padding-right: 7px;
        font-size: 13px;
    }
    .first .cont .buttons .btn2 a {
        padding-right: 7px;
        font-size: 13px;
    }
    .benefit .head {
        padding-top: 10px;
        padding-bottom: 0;
    }
    .benefit .img img {
        width: 100%;
        height: 100%;
    }
    .browse .box .boxx h3 {
        font-size: 18px;
        margin-top: 10px;
    }
    .browse .box .boxx p {
        font-size: 14px;
    }
    .blog .boxes .cart .content .top .admin {
        margin-right: 10px;
    }
    .blog .boxes .cart .content .top .admin span {
        font-size: 10px;
    }
    .blog .boxes .cart .content .top .admin p {
        font-size: 10px;
    }
    .price .plans .plan h3 {
        font-size: 14px;
    }
    .price .plans .plan .button {
        padding: 5px 15px;
    }
    .price .plans .plan .button a {
        font-size: 14px;
    }
    .news .input {
        width: 70%;
    }
    .news .input input {
        padding-top: 20px;
    }
    .foot .academia h3 {
        font-size: 14px;
    }
    .foot .academia p {
        font-size: 12px;
    }
    .foot .academia h1 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .foot .smth h3 {
        font-size: 17px;
    }
    .non{
        display: none;
    }
    .maps .add{
        padding: 0 5px;
    }
    .maps .forms .follow ul li a {
        font-size: 13px;
    }
}

@media (min-width:475px) and (max-width:775.9px){
    .price .plans .plan {
        margin-bottom: 10px;
    }
    .small .globe {
        width: 50%;
    }
    .news .input {
        width: 100%;
    }
    .news .input input {
        padding-bottom: 20px;
    }
    .foot .academia .icons {
        margin-bottom: 30px;
    }
    .foot .smth{
        margin-bottom: 20px;
    }
    .foot .smth h3 {
        padding-bottom: 20px;
    }
    .foot .academia .icons {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .foot .academia h1 {
        display: flex;
        justify-content: center;
    }
    .foot .academia h3 {
        display: flex;
        justify-content: center;
    }
    .foot .smth h3 {
        display: flex;
        justify-content: center;
    }
    .foot .smth ul {
        display: flex;
        flex-wrap: wrap;
    }
    .foot .smth ul .linkss {
        margin: 0 15px 10px;
    }

    .first .nav1 .right .clock {
        display: none !important;
    }
    .first1 .nav1 .right .clock {
        display: none !important;
    }
    .first .nav1 .right {
        display: none !important;
    }
    .first1 .nav1 .right {
        display: none !important;
    }
    .first .nav2 .green {
        display: none !important;
    }
    .first1 .nav2 .green {
        display: none !important;
    }
    .first .nav2 ul {
        padding: 10px 0px !important;
    }
    .first1 .nav2 ul {
        padding: 10px 0px !important;
    }
    .first .nav2 ul li a {
        font-size: 15px;
    }
    .first1 .nav2 ul li a {
        font-size: 15px;
    }
    .first1 .conts .cn h1 {
        font-size: 45px;
    }
    .first1 .conts .cn .links .link a {
        font-size: 14px;
    }
    .foot .academia p {
        text-align: center;
    }
    .foot .smth {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .maps #map {
        height: 70vh;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width:0px) and (max-width:474.9px){
    .news .input {
        width: 100%;
    }
    .small .globe {
        width: 50%;
    }
    .first .nav1 .right .clock {
        display: none !important;
    }
    .first1 .nav1 .right .clock {
        display: none !important;
    }
    .first .nav1 .right {
        display: none !important;
    }
    .first1 .nav1 .right {
        display: none !important;
    }
    .first .nav2 .green {
        display: none !important;
    }
    .first1 .nav2 .green {
        display: none !important;
    }
    .first .nav2 ul {
        padding: 10px 0px !important;
        display: flex;
        flex-wrap: wrap;
    }
    .first1 .nav2 ul {
        padding: 10px 0px !important;
        display: flex;
        flex-wrap: wrap;
    }
    .first .nav2 ul li a {
        font-size: 14px;
    }
    .first1 .nav2 ul li a {
        font-size: 15px;
    }
    .first1 .conts .cn h1 {
        font-size: 45px;
    }
    .first1 .conts .cn .links .link a {
        font-size: 14px;
    }
    .foot .academia .icons {
        margin-bottom: 30px;
    }
    .foot .smth{
        margin-bottom: 20px;
    }
    .foot .smth h3 {
        padding-bottom: 20px;
    }
    .foot .academia .icons {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .foot .academia h1 {
        display: flex;
        justify-content: center;
    }
    .foot .academia h3 {
        display: flex;
        justify-content: center;
    }
    .foot .smth h3 {
        display: flex;
        justify-content: center;
    }
    .foot .smth ul {
        display: flex;
        flex-wrap: wrap;
    }
    .foot .smth ul .linkss {
        margin: 0 15px 10px;
    }
    .first .cont .buttons .btn1 {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        a{
            padding-right: 7px;
            font-size: 13px;
        }
    }
    .first .cont .buttons .btn2 {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        a{
            padding-right: 7px;
            font-size: 13px;
        }
    }
    .news .input input {
        padding-bottom: 20px;
    }
    .foot .academia p {
        text-align: center;
    }
    .foot .smth {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .maps #map {
        height: 70vh;
        width: 100%;
        margin-bottom: 10px;
    }
}